/* big body stuff styling */
 * {
   margin:0;
   padding: 0;
   
 }
 body {
   height: 100%;
   width: 100%;
   background-color:#F1EBE4;
   text-align: center;  
   padding-bottom: 40px; 
  
 }

.sections {
   margin-top:20px;
  margin-bottom:20px;
 }
 .margins {
   margin-left:10%;
   margin-right:10%;

 }

 /* nav bar stuff */ 
 nav {
   text-align: center;
   background-color:#E8AEB7;
   padding:20px;
  
 }
 nav a { 
   list-style-type: none;
   padding-left:10px;
   padding-right:10px;
   overflow:hidden;
   text-decoration:none;
   color:#20201D;
   transition-duration: 0.4s;
   font-family: 'Courier Prime';
   font-size:20px;
   font-weight: bold;
 } 
 nav a:hover {
   background-color:#61304B;
   color:white;
   padding:10px;
   
 }
 /* header stuff */
 #introimg {
   width:100%;
   height: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   
 }
 #introtext {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color:white;
   font-size:100px;
 }
 .headerimage {
   background: url('Images/abortion.jpeg') no-repeat center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
    height:650px;
 }
 #spacing {
 margin-top: 10px; 
   margin-bottom: 15px;
 }


 /* text styling */
 h1 { 
   font-family: 'Questrial', sans-serif;
   font-size:50px;
   font-weight:bold;
   font-style:italic;
   margin:10px;
    } 
 h2 {
   font-family: 'Questrial', sans-serif;
   font-size:40px;
   font-weight:bolder;
  line-height: 60px;

 }
 p{
   font-family:
     'Courier Prime';
   line-height:1.5;
  font-size:20px;
 }
 .script {
   background: #61304B;
   border-radius: 10px; 
   border-style: white; 
   color: white;

   padding: 40px; 

   margin-top: 30px; 
   margin-left: 20%; 
   margin-right: 20%;

   font-family: "Courier Prime"; 
 }
.scriptQues{
  line-height:2;
}
#scriptBtn{
  font-family: 'Courier Prime';
}
 .call {
   margin-bottom:30px;
 }
 /* petition list styling */ 

 ul {
   padding:10px;
   list-style: none;
 }
 li {
   padding:10px;
 }
 li a{
   text-decoration:none;
   padding-left:10px;
   padding-right:10px;
   list-style-type: none;
   overflow:hidden;
   transition-duration: 0.4s;
  font-family: 'Courier Prime';
  font-size:20px;
  font-weight: bold;

 }
 li a:hover {
   background-color:#E8AEB7;
   color:#20201D;
   padding:10px;
 }
 /* img styling */
 .grid_items {
   padding:3.75%;
   display: grid;
   grid-template-columns: 30% 30% 30%;
   grid-column-gap: 5%;
   background-color:#61304B;
    border-radius:25px;
 }
 .gridimg {
   margin-top: auto;
   margin-bottom: auto;
 }
.gridimg2 {
   margin-top: auto;
   margin-bottom: auto;
  border: 15px solid #61304B;
  border-radius:25px;
 }
 .grid2 {
   display: grid;
   grid-template-columns: auto auto;
   grid-column-gap: 5%;
   border-radius: 25px;
  padding:10px;
 }
.grid3 {
   display: grid;
   grid-template-columns: auto auto;
   grid-column-gap: 5%;
  padding-left:5%;
  padding-right:5%;
  margin:20px 0px 20px 0px;
  background-color:#E8AEB7;
 }


 /* resources */
 .resourceimg {
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   margin: 20px;
   width:250px;
   height: 250px;
 }

 body resources{
   width: 100vh;
   height: 100vh;
   justify-content: center;
   align-items: center;
 }

 .resourcetxt{
   border-radius:25px;
   overflow:hidden;
   text-decoration:none;
   color:#20201D;
   font-family: 'Courier Prime';
   font-size:20px;
   font-weight: bold;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

.flip-card-container {
   width: 250px;
   height: 250px; 
   perspective:1000px;
   display: grid;
 }
 .flip-card{
  position: relative;
 width: 100%;
  height: 100%;
 transition: transform 1s;
  transform-style:preserve-3d;
}

 .flip-card-container:hover .flip-card{
 transform: rotateY(180deg);
 }
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
   height: 100%;
  backface-visibility: hidden;
 display: flex;
justify-content: center;
  align-items: center; font-size: 2rem;
 }

 .flip-card-front {

 }

 .flip-card-back {
   background-color:#e34a64;
   height:245px;
   width:245px;
   transform: rotateY(180deg);
  text-align: center;
 }
#clickme{
   background-color:#F1EBE4;
border-radius:25px;
 overflow:hidden;
   text-decoration:none;
   color:#20201D;
   font-family: 'Courier Prime';
   font-size:20px;
   font-weight: bold;
   padding: 1px 3px 1px 3px
 }

 .backtext{
   font-size: 15px;
   padding:10px;
 }
 .wrappers{
   display: grid;  
  grid-template-columns: 20% 20% 20% 20% ;
  grid-column-gap:5%;
   grid-row-gap: 5%;
 }


.bg-image{
  background-image: url('Images/abortionrights.jpg');
height: 590px;
  width:100%;
  background-size: cover; 
 background-repeat: no-repeat;
  filter: blur(4px);
  overflow: hidden;
}




.bg-text{
text-shadow: 2px 2px black;
  color: white;
 font-weight: bold; 
 border: 3px solid #E8AEB7;
 position: absolute;
top: 50%;
 left: 50%; 
transform: translate(-50%, -50%);
 width: 80%; 
text-align: center; 
padding: 20px; 
 margin-right: 20px; 
margin-left: 20px;
  margin-top:20px;
 }


/*ssbeginning*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom:20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
/*ssend*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* stuff*/

#line {
  width: 65ch;
  animation: typing 5s steps(65), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#line1 {
  width: 52ch;
  animation: typing 5s steps(52), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#line2 {
  width: 58ch;
  animation: typing 5s steps(58), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#line3 {
  width: 55ch;
  animation: typing 5s steps(55), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#line4 {
  width: 62ch;
  animation: typing 5s steps(62), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
#line5 {
  width: 69ch;
  animation: typing 5s steps(69), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
#line6 {
  width: 94ch;
  animation: typing 5s steps(94) blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
